/*
this project focuses mainly on CSS and 
its advanced featureas, moroever it focuses on scss  */
/* animation in CSS  we use @keyframes which is similar to function iin other languages.  */
@keyframes moveInLeft {
  /* 0% is the start of an action (animation) the inital state */
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /* we can add other percentage aswell in the middle like 50% or 80% */
  80% {
    transform: translateX(2rem); }
  /* 100% is the finish of an action(animation) the final state */
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* formating the button inside the header element, link is a state of a spsudo class
  here that i put link and visited state together becuase i want both states to be seen
  the same  */
/* making the button move in */
@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  /* changes the box modle so that the borders and the paddings 
  are no longer adding to total width and total height of
  the box which is specified without box-sizing any padding and border
  will be added to the height and width of the box  */ }

html {
  /* making the root size for the whole webpage, we are making the font size of the document to 
  100% =16 px and then we divide the 10/16=.625% */
  font-size: 62.5%; }

/* by putting the font-family in the boday element the child
 of the body will inheart the font automatically */
body {
  box-sizing: border-box;
  /* 30px padding give 30px frame around the webpage */ }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  /* 30px padding give 30px frame around the webpage */ }

/* formating the header element */
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* this function removes the shaking of the text */
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    /* calling the function moveInleft here */
    animation-name: moveInLeft;
    animation-duration: 5s;
    /* animation-delay: 3s; */
    /* animation-iteration-count: 3; */
    /* animation-timing-function: ease-out; */
    text-align: center; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75rem;
    /* animation can be used to combine 3 functionality in the same time */
    animation: moveInRight 5s ease-out;
    text-align: center; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #6daffa, #1e2b9c);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn {
  /* a button has many states like hover, active and visited */
  /* extra animation when we hover the button */ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    /* need to display inline block becuase it is inline with its parent element
    this should be given when we give padding to an element */
    display: inline-block;
    /* positing in the middle of the box which is done in the text-box class */
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      /* scale is used to make the size of element bigger */
      transform: scaleX(1.4) scaleY(1.6);
      /* to fade out */
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    /* putting the shadow behind the button  by using absolut positionging */
    position: absolute;
    top: 0;
    left: 0;
    /* z index defines the postion of an element if minus means it behind */
    z-index: -1;
    transition: all 0.4s; }
  .btn--animated {
    animation: moveInButton 0.3s ease-out 0.75s;
    /* animation fill mode function will everying to the button after the animation starts */
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #496afc;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #496afc;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #496afc;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all 0.2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #496afc;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4 rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 1.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #6daffa, #1e2b9c);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #6daffa, #1e2b9c); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #29ff82, #0d9c3d); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(/media/wedding.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #6daffa, #1e2b9c), url(/media/birthday.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #29ff82, #0d9c3d), url(/media/events.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(109, 175, 250, 0.85), rgba(30, 43, 156, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 255, 130, 0.85), rgba(13, 156, 61, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  /* this means that in each browser it will be dispalied 95% of the view port 
    it also has a liner-gradient property which puts to colors on top*/
  background-image: linear-gradient(to right bottom, rgba(109, 175, 250, 0.8), rgba(30, 43, 156, 0.8)), url(/media/nature.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  /* using clip-path to cut the bottom of the image 
    this is modern CSS  using the polygon function to spacify the 4 cornors of the image 
    where to start and where to finish start from the top left and goes to right*/
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* styling the logo and the logo box inside the head */
  /* formating the text and the sologon  in the header 
      and also we want to put it in the center.  */ }
  .header__logo-box {
    /* where we want to put our logo, we us absolute positioning
          how the 40px counted, it is counted from parent element which is header
          we also need to change the position of the header to relative. */
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 8rem; }
  .header__text-box {
    /* centering the texts and button in the middle */
    position: absolute;
    top: 50%;
    left: 50%;
    /* tranform is used to adjust the box exactly in the center of the page
      -50% for x and -50% for y to fix it in the center */
    transform: translate(-50%, -50%);
    /* algining everyting in the center */
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(109, 175, 250, 0.8), rgba(30, 43, 156, 0.8)), url(/media/1.jpg);
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem; }
