// declearing some variables

// colors
$color-primary: #496afc;
$color-primary-light: #6daffa;
$color-primary-dark: #1e2b9c;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-gray-light-1: #f7f7f7;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #29ff82;
$color-tertiary-dark: #0d9c3d;
$color-gray-light-2: #eee;
$color-gray-dark-2: #999;
//font sizes;

$default-font-size: 1.6rem;

// these are variables for grid;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
